Importing Libraries

In [1]:
import pandas as pd
import sqlite3
from sqlite3 import Error
import csv
import re

Reading dataframe from csv and checking if dataframe is correct

In [2]:
df = pd.read_csv("Shakespeare_data.csv")#read CSV into jupyter notebook
df.head()#return n rows

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

Creating a searchterm that is a lowercase version of the name with spaces removed

In [3]:
df['searchname'] = df['Play'].str.lower().str.replace(' ', '')
print(df['searchname'])

0              henryiv
1              henryiv
2              henryiv
3              henryiv
4              henryiv
5              henryiv
6              henryiv
7              henryiv
8              henryiv
9              henryiv
10             henryiv
11             henryiv
12             henryiv
13             henryiv
14             henryiv
15             henryiv
16             henryiv
17             henryiv
18             henryiv
19             henryiv
20             henryiv
21             henryiv
22             henryiv
23             henryiv
24             henryiv
25             henryiv
26             henryiv
27             henryiv
28             henryiv
29             henryiv
              ...
111366    awinterstale
111367    awinterstale
111368    awinterstale
111369    awinterstale
111370    awinterstale
111371    awinterstale
111372    awinterstale
111373    awinterstale
111374    awinterstale
111375    awinterstale
111376    awinterstale
111377    awinterstale
111378    awinterstale
111379    awinterstale
111380    awinterstale
111381    awinterstale
111382    awinterstale
111383    awinterstale
111384    awinterstale
111385    awinterstale
111386    awinterstale
111387    awinterstale
111388    awinterstale
111389    awinterstale
111390    awinterstale
111391    awinterstale
111392    awinterstale
111393    awinterstale
111394    awinterstale
111395    awinterstale
Name: searchname, Length: 111396, dtype: object

Sending to sqlite database

In [4]:
conn = sqlite3.connect('shakespeares_works.db')#connect to database
cur = conn.cursor()
df.to_sql("shakespeares_works", conn, if_exists="replace")#convert Shakespeare_data dataframe to sql
conn.close()